.movies-page {
  display: flex;
  flex-flow: column;
  padding: 70px 70px 80px;
}

@media screen and (max-width: 768px) {
  .movies-page {
    padding: 69px 28px;
  }
}

@media screen and (max-width: 500px) {
  .movies-page {
    padding: 81px 10px;
  }
}
