.about {
  background: #ffffff;
  padding: 110px 70px;
}

.about__title {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  margin: 0;
}

.about__title-line {
  border-bottom: 1px #000 solid;
  padding-bottom: 23px;
  margin-bottom: 70px;
}

.about__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 52px;
}

.about__list_item {
  flex: 1 0 calc(50% - 40px);
}

.about__list-text {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.about__list-title {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  margin: 0 0 26px;
}

.about__progress {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 110px;
}

.about__progress-item1 {
  flex: 1 0 20%;
}

.about__progress-item2 {
  flex: 1 0 80%;
}

.about__progress-item-green {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2be080;
  height: 36px;
}

.about__progress-item-gray {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  height: 36px;
}

.about__progress_title {
  color: #000;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.about__progress-item-text {
  color: #a0a0a0;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  margin: 14px 0 0;
}

@media screen and (max-width: 768px) {
  .about {
    padding: 90px 50px;
  }

  .about__progress {
    margin-top: 93px;
  }

  .about__list {
    gap: 37px;
  }

  .about__list-title {
    margin-bottom: 20px;
  }

  .about__list-text {
    font-size: 12px;
    line-height: 18px;
  }

  .about__progress-item1 {
    flex: 1 0 21%;
  }

  .about__progress-item2 {
    flex: 1 0 79%;
  }
}

@media screen and (max-width: 320px) {
  .about {
    padding: 70px 18px;
  }

  .about__title {
    font-size: 18px;
    letter-spacing: -0.72px;
  }

  .about__list-title {
    font-size: 18px;
    letter-spacing: -0.72px;
    margin-bottom: 16px;
  }

  .about__list-text {
    font-size: 11px;
    line-height: 16px;
  }

  .about__progress_title {
    font-size: 11px;
  }

  .about__progress-item-text {
    font-size: 11px;
    margin-top: 7px;
  }

  .about__list {
    flex-wrap: wrap;
    gap: 56px;
  }

  .about__progress {
    margin-top: 60px;
  }

  .about__title-line {
    padding-bottom: 28px;
    margin-bottom: 60px;
  }

  .about__progress-item1 {
    flex: 1 0 35%;
  }

  .about__progress-item2 {
    flex: 1 0 65%;
  }
}
