.movies {
  display: flex;
  flex-flow: column;
}

.movies__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 38px 20px;
  margin: 0;
  padding: 0;
}

.movies-page__more {
  width: 320px;
  height: 36px;
  border: none;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin: 50px 0;
  align-self: center;
}

@media screen and (max-width: 1280px) {
  .movies__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
