.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #073042;
  padding: 18px 70px;
  color: #fff;
}

.header__nav-list {
  display: flex;
  list-style: none;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.header__nav-list-link {
  color: inherit;
  text-align: right;
  font-family: Inter, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.header__nav-list-link_active {
  font-weight: 500;
}

.header__theme-light {
  background: #ffffff;
  color: #000000;
}

.header__logo-link {
  height: 38px;
}

.header__logo-link:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1280px) {
  .header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 18px 14px;
    font-size: 10px;
  }
}
