.me {
  display: flex;
  flex-flow: column;
  background: #ffffff;
  padding: 110px 70px 0;
}

.me__title {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  margin: 0;
}

.me__title-line {
  border-bottom: 1px #000 solid;
  padding-bottom: 23px;
}

.me__private-container {
  display: flex;
  justify-content: space-between;
  margin-top: 66px;
  gap: 49px;
}

.me__private-description-container {
  display: flex;
  flex-flow: column;
}

.me__private-name {
  font-family: Inter, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 0;
}

.me__private-about {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}

.me__private-bio {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  margin: 18px 0 26px;
}

.me__private-github {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: auto;
}

.me__private-image {
  width: 270px;
  height: 307px;
}

@media screen and (max-width: 1280px) {
  .me {
    padding: 90px 50px 0;
  }

  .me__private-name {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.6px;
  }

  .me__private-bio {
    font-size: 12px;
    line-height: 18px;
  }

  .me__private-about {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 768px) {
  .me {
    padding: 70px 18px 0;
  }

  .me__title {
    font-size: 18px;
    line-height: normal;
    letter-spacing: -0.72px;
  }

  .me__private-container {
    margin-top: 60px;
  }

  .me__private-name {
    font-size: 30px;
    letter-spacing: -1.2px;
  }

  .me__private-bio {
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
  }

  .me__private-about {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 40px;
  }

  .me__private-image {
    width: 300px;
    height: auto;
    margin: 0 auto;
    order: -1;
  }

  .me__private-container {
    flex-wrap: wrap;
  }
}
