.header-login {
  display: flex;
  align-items: center;
  background: #ffffff;
  padding: 70px 0 0;
}

.header-login__logo:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 320px) {
  .header-login {
    justify-content: center;
  }
}
